@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<p>The purpose of this program is to practice what I learned from the first CCA CarManager and improve upon it. <br />
   I first exercised my knoledge of what I learned by using 4 tiers of revision. <br />
    First I tried to remake it from memory. If that did not work then I would try and find the answer through Google.<br />
    If Google did not work then I would look back at the original CarManager code and try to figure out how it was used.<br />
    If that did not work then I would fall back to rewatching that part of the video tutorial again.
    <br />
    <br />
    I added two new methods to the Repo Library.<br />
    The first one is to create 4 starting entries into the library so that I can test features out without having to manually add<br />
    each one.<br />
    The second method is to clear the library of all entries. I also created a confirmation page to go with this.
</p>
